<div *appIfnot="formIsHide" class="form">
  <!-- <form> -->
    <div class="form-group">
      <label for="post-title">Заголовок поста:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Title..."
        id="post-title"
        [(ngModel)]="title"
        #titleInput
      />
    </div>

    <div class="form-group">
      <label for="post-text">Текст поста:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Tetx..."
        id="post-text"
        [(ngModel)]="text"
      />
    </div>

    <button (click)="addPost()" class="btn btn-primary mr-2">Добавить</button>

    <button (click)="focusTitle()" class="btn btn-info mr-2">Focus Title</button>


  <!-- </form> -->
</div>
<div class="mt-2">
  <button (click)="onToggleForm()" class="btn btn-danger">
    {{formIsHide?  'Показать форму' : 'Скрыть форму' }}
  </button>
</div>
